h1 {
  font-family: Roboto;
  font-size: 75px;
  font-style: normal;
  font-weight: normal;
  line-height: 100px;
  letter-spacing: 0em;

    color: #000000;

}

.sticky {
  position: sticky;
  top: 0px; /* When the element reaches top: 10px, it becomes fixed. */
  z-index: 100;
}

.btn-primary-outline {
  background-color: transparent;
  border: 0px;
}

.header {
  background: #C4C4C4;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 49px;
}

.img {
  position: relative;
  text-align: center;
  color: #000000;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sous_titre {
  color: black;
  font-size: 42px;
  position: relative;
  left: 5%
}

.sous_titre_Stage{
  font-size: 50px;
}

.verySmallText{
  font-size: 8px;
  color:B4B4B4;
}

#medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;

  color: #000000;
}

.parent-div {
  display: inline-block;
  overflow: hidden;
}

.parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.btn-success{
  background: #81D6A3;
  border-radius: 10px;
  border: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;

  color: #FFFFFF;
}

.pdp img {
  position: absolute;
  height: 75%;
  top:35%;
  right:15%
}

.pdp button {
  position: absolute;
  right: 21%;
  top: 115%
}

hr {
  border: none;
    border-top: 1px double black;
    overflow: visible;
    text-align: center;
    width:75%;
    margin:0 auto;
}
